################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Fiskarn/bin
/Fiskarn/obj
/Fiskarn.UI/bin/Debug
/Fiskarn.UI/obj/Debug
